<div class="panel panel-default">
  
  <div class="panel-body">

    <h3>Recent Account Tasks</h3>

    <p>Most recently created account</p>

    <p id="last_created_account"><%= @tester.email %></p>

    <p>(password: "tester" if a testing account)</p>
  
  </div>

</div>