  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Tester Account Tasks</h3>
      <%= render 'sign_up_lmrtfy_tester' %><br/>
      <%= render 'sign_in_lmrtfy_tester' %><br/>
      <%= render 'remove_latest_lmrtfy_tester' %><br/>
    </div>
  </div>