<div class="panel panel-default">

  <div class="panel-body">

    <h3>Automation Tasks</h3>

    <p><%= link_to "Username search across social sites", new_search_url, class: "btn btn-primary" %></p>

    <p><%= link_to "Tester Account Automation", tasks_url, class: "btn btn-primary", id: "tester_account_automation_btn" %></p>
      
  </div>

</div>