<div class="panel panel-default">

  <div class="panel-body">

    <h3>Automation Tasks</h3>

    <p><%= link_to "Search Reddit.com for available usernames", new_search_url, class: "btn btn-primary" %></p>

    <p><%= link_to "Tester Account Automation", tasks_url, class: "btn btn-primary" %></p>
      
  </div>

</div>