<div class="jumbotron">
  <h1>Welcome to lmrtfy.com - "Let Me Reserve That For You!"</h1>
  <h2>Check if a name you want is available on popular sites</h2>
  <h3>(Coming soon) Automatically sign-up for them when you're ready</h3>

  <p>Sign-in to get started</p>
</div>