<div class="jumbotron">
  <h2>Let Me Ruby That For You</h2>

    <p>"Don't hate, automate!"</p>
  
    <p>A collection of automated web tasks</p>

    <p><strong>Please log in or sign up to get started</strong></p>

</div>