<% if current_user %>
  <div class="page-header">
    <h1>Welcome, <%= current_user.email %>!</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Pick a site to search</h3>
      <strong><%= link_to "Reddit.com", searches_path %></strong></li>
    </div>
  </div>
<% else %>
  <%= render 'welcome' %>
<% end %>
