<div class="jumbotron">
  <h1>Welcome to Account Checker!</h1>
  
  <h3>Your one-stop site to check if a brand name is taken yet or not across multiple popular sites</h3>

  <p>Login or sign-up in the header to get started.</p>
</div>