<h3>Reddit.com</h3>

<div class="search-container">

  <%= form_for(@search, remote: true) do |f| %>
    <%= f.label "User name" %>
    <%= f.text_field :term, id: 'term', placeholder: "JohnDoe" %><br><br>
    <%=f.submit "Search", class: "btn btn-primary"%>
  <% end %>

  <section id="result"></section>

</div>